<%= form_for([@project, @issue]) do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>


  <%= f.collection_select(:milestones, @project.milestones, :id, :title ) %>

  <!-- @projects.milestones -->
  <!-- <div class="field">
    <%= f.label :created_at %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="field">
    <%= f.label :closed_at %><br>
    <%= f.text_field :closed_at %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
