<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Milestone</th>
      <th>Created at</th>
      <th>Closed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.title %></td>
        <td><%= issue.body %></td>
        <td><%= issue.created_at %></td>
        <td><%= issue.closed_at %></td>
        <td><%= link_to 'Show', project_issue_path(@project, issue) %></td>
        <td><%= link_to 'Edit', edit_project_issue_path(@project, issue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
