<!-- login page -->
<h1><%= @user.name%></h1>
<p>
  <strong>Github: <a href ="http://github.com/<%=@user.username%>"><%= @user.username%></a></strong>
</p>
<% if logged_in? && current_user.id == @user.id %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>


<% if @user.avatar_url %>
  <p>
  <img src="<%= @user.avatar_url %>" width=150>
  </p>
<% end %>


<div class="row">
  <div class="col-xs-6">
    <p>
    	<h3>Projects:</h3>
    	<ol>
    	<% @user.projects.each do |project| %>
    		<li><%= link_to project.name, project%></li>
    	<% end %>
    	</ol>
    </p>
  </div>

  <div class="col-xs-6">
    <div id="recent-events">
      <strong><h3>All Recent Events:</h3></strong>
      <% @user_events_received.each do |event| %>
      <%= event.type %>
      <img src="<%= event.actor.avatar_url %>">
      <%= event.repo.name %>
        <% end %>
    </div>
  </div>
</div>
