<!-- login page -->
<h1>User Show Page</h1>

<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Github ID:</strong>
  <%= @user.uid %>
</p>

<% if logged_in? && current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>