<!-- login page -->
<h1><%= @user.name%></h1>
<p>
  <strong>Github: <a href ="http://github.com/<%=@user.username%>"><%= @user.username%></a></strong>
</p>

<p id="notice"><%= notice %></p>


<% if @user.avatar_url %>
  <p>
  <img src="<%= @user.avatar_url %>" width=150>
  </p>
<% end %>

<!-- <p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<p>
  <strong>Github ID:</strong>
  <%= @user.uid %>
</p>

 -->

<p>
	<strong>Projects:</strong>

	<ol>
	<% @user.projects.each do |project| %>
		<li><%= link_to project.name, project%></li>
	<% end %>
	</ol>


</p>

<% if logged_in? && current_user.id == @user.id %>
	<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_path %>
