<div class="row">
<div class="col-lg-6">
<div class="well bs-component">
<%= form_for(@project, :html => {:class => "form-horizontal"}) do |f| %>
  <fieldset>
  <legend><%= @legend %></legend>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class: "col-lg-2 control-label" %><br>
    <div class="col-lg-10">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">

    <%= f.radio_button :active, true, :checked => (@project.active), :value => true %> Active</br>
    <%= f.radio_button :active, false, :checked => (!@project.active), :value => true %> Inactive</br>
    </div>
  </div>

  <!-- add collaborators -->

  <% if !@project.collaborators.empty? %>
    <div class="form-group">
      <%= f.label :collaborators, class: "col-lg-2 control-label" %>
      <% @project.collaborators.each do |collaborator| %>
        <%= link_to collaborator.user.name, collaborator.user, class: "col-lg-2 control-label" %>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
  <%= f.label :add_a_collaborator, class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.collection_select :user, User.not_a_collaborator(@project), :id, :name %>
    </div>
  </div>

  <div class="actions">
    <%= f.button "Submit", class: "btn btn-primary" %>
  </div>
  </fieldset>
<% end %>
</div>
</div>
</div>
