<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- limit project editing to admins only -->

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.radio_button :active, true, :checked => (@project.active), :value => true%> Active</br>
    <%= f.radio_button :active, false, :checked => (!@project.active), :value => true%> Inactive</br>
  </div>

  <!-- add collaborators -->
  <!-- let admin add collabs who aren't in the database -->
  <!-- don't include in the dropdown menu those who are already on the project -->

  <div>
    <%= f.label :collaborators %><br>
  <p><% @project.collaborators.each do |collaborator| %>
    <li><%= link_to collaborator.user.name, collaborator.user %></li>
  <% end %></p>
  </div>

  <div>
  <%= f.label :add_a_collaborator %>
  <%= f.collection_select :user, User.not_a_collaborator(@project), :id, :name %>

  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
