<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Projects</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Github</th>
        <th>Admin</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.github_repo_id %></td>
          <td><%= project.admin_id %></td>
          <td><%= link_to 'Show', project %></td>
            <% if logged_in? && current_user.admin.id == project.admin_id %>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
