<p id="notice"><%= notice %></p>

<div id="project-title">

  <h2><a href="<%= @project.url %>"><%= @project.name %></a>
    <% if logged_in? && current_user.admin.id == @project.admin_id %>
      <a href="<%= edit_project_path(@project) %>" class="btn btn-primary btn-sm">Edit Project</a>
    <% else %>
      <p>
        <strong>Admin:</strong>
        <%= link_to @project.admin.user.name, @project.admin.user %>
      </p>
    <% end %>
  </h2>

  <% if !@project.description == nil %>
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  <% end %>
</div>

<div class="row">
  <div id="top-header">
    <div id="collaborators">
      <div class="list-group">
        <div class="col-xs-4">
          <div class="list-group-item active">
            Collaborators
          </div>
            <% @project.collaborators.each do |collaborator| %>
              <%= link_to collaborator.user.name, collaborator.user, class: "list-group-item" %>
            <% end %>
          </div>

          <div class="col-xs-4">
            <div id="languages">
            </div>
          </div>

          <div class="col-xs-4">
            <div class="list-group-item active">
              Five Most Recent Commits
            </div>
              <% @project.five_most_recent_commits.each do |commit| %>
              <%= link_to project_commit_path(@project, commit), class: "list-group-item" do %>
              <%= commit.message %>:
              <br />
              <%= commit.date.httpdate %>
              <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>

<div class="row">
  <!-- Milestones -->
  <div class="col-xs-4">
    <div id="milestones">


        <div class="list-group">
        <%= link_to "Five Most Recent Milestones", project_milestones_path(@project), class: "list-group-item active" %>
        <% @project.five_most_recent_milestones.each do |milestone| %>
              <%= link_to project_milestone_path(@project, milestone), class: "list-group-item" do %>
              <%= milestone.title %>:
              <br />
              <%= milestone.description %>
              <% end %>
        <% end %>
      </div>

      <% if logged_in? && current_user.id == @project.admin_id %>
        <p><%= link_to "New Milestone", new_project_milestone_path(@project), class: "btn btn-primary btn-sm" %></p>
      <% end %>
    </div>
  </div>

  <!-- Issues -->
  <div class="col-xs-4">
    <div id="issues">

      <div class="list-group">
        <%= link_to "Five Most Recent Issues", project_issues_path(@project), class: "list-group-item active"%>
        <% @project.five_most_recent_issues.each do |issue| %>
              <%= link_to project_issue_path(@project, issue), class: "list-group-item" do %>
              <%= issue.title %>
              <br />
              <%= issue.body %>
              <% end %>
        <% end %>
      </div>
      <% if logged_in? && current_user.id == @project.admin_id %>
        <p><%= link_to "New Issue", new_project_issue_path(@project), class: "btn btn-primary btn-sm" %></p>
      <% end %>
    </div>
  </div>

  <!-- Feed -->
  <div class="col-xs-4">
    <% if logged_in? %>
      <div id="feed">
      </div>
    <% end %>
  </div>
</div>
