<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github_repo_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @project.admin_id %>
</p>

<% if logged_in? && current_user.id == @project.admin_id %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', projects_path %>
