<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github_repo_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= link_to @project.admin.user.name, @project.admin.user %>
</p>
<div id="collaborators">
  <h3>Collaborators:</h3>
  <ul>
    <% @project.collaborators.each do |collaborator| %>
      <li>
      <%= link_to collaborator.user.name, collaborator.user %>
    </li>
    <% end %>
  </ul>
</div>
<div id="milestones">
  <h3><%= link_to "Milestones:", project_milestones_path(@project) %></h3>
  <ul>
    <% @project.milestones.each do |milestone| %>
      <li>
        <td><%= link_to "#{milestone.title}", project_milestone_path(@project, milestone)%></td>
        <p>Description: <%=milestone.description %></p>
    </li>
    <% end %>
  </ul>
</div>

<div id="feed">
  <h3>Activity Feed</h3>
    <ol>
      <% @repo_events.each do |event| %>
        <p>
            <li><strong>Event Type: <%= event.type %></strong></li>
            Date: <%= event.created_at %>
        </p>
      <% end %>
    </ol>
</div>

<% if logged_in? && current_user.id == @project.admin_id %>
  <%= link_to 'New', new_project_milestone_path(@project) %> |
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', projects_path %>
