<p id="notice"><%= notice %></p>


<div id="project-title">

  <h2><a href="<%= @project.url %>"><%= @project.name %></a>
    <% if logged_in? && current_user.admin.id == @project.admin_id %>
      <!-- <p> You're the admin for this project! </p> -->
      <a href="<%= edit_project_path(@project) %>" class="btn btn-primary btn-sm">Edit Project</a>

    <% else %>
      <p>
        <strong>Admin:</strong>
        <%= link_to @project.admin.user.name, @project.admin.user %>
      </p>
    <% end %>
  </h2>

  <% if !@project.description == nil %>
    <p>
      <strong>Description:</strong>
      <%= @project.description %>
    </p>
  <% end %>

</div>

<div id="top-header">
  <div id="collaborators">
    <div class="list-group">
      <div class="list-group-item active">
        Collaborators
      </div>
      <% @project.collaborators.each do |collaborator| %>
        <%= link_to collaborator.user.name, collaborator.user, class: "list-group-item" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <!-- Milestones -->
  <div class="col-xs-4">
    <div id="milestones">
      
      <% if logged_in? && current_user.id == @project.admin_id %>
        <p><%= link_to "New Milestone", new_project_milestone_path(@project), class: "btn btn-primary btn-sm" %></p>
      <% end %>

      <div class="list-group">
        <%= link_to "All Milestones", project_milestones_path(@project), class: "list-group-item active" %>
        <% @project.milestones.each do |milestone| %>
              <%= link_to project_milestone_path(@project, milestone), class: "list-group-item" do %>
              <%= milestone.title %>:
              <br />
              <%= milestone.description %>
              <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Issues -->
  <div class="col-xs-4">
    <div id="issues">
      
      <% if logged_in? && current_user.id == @project.admin_id %>
        <p><%= link_to "New Issue", new_project_issue_path(@project), class: "btn btn-primary btn-sm" %></p>
      <% end %>

      <div class="list-group">
        <%= link_to "All Issues", project_issues_path(@project), class: "list-group-item active" %>
        <% @project.issues.each do |issue| %>
              <%= link_to project_issue_path(@project, issue), class: "list-group-item" do %>
              <%= issue.title %>:
              <br />
              <%= issue.description %>
              <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- Feed -->
  <div class="col-xs-4">
    <% if logged_in? %>
      <div id="feed">
        <div class="list-group">
          <div class="list-group-item active">
            Recent Push Events
          </div>
          <% @push_events.each do |event| %>
            <div class="list-group-item">
              by: <%= event.actor.login %>
              <p><div class="pic-thumbnail">
                <img src="<%= event.actor.avatar_url %>">
              </div></p>
              <p><%= DateTime.parse(event.created_at).httpdate %></p>
              </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>



<%= link_to 'Back', projects_path %>
