<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @project.admin_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
