<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Github:</strong>
  <%= @project.github_repo_id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @project.admin_id %>
</p>
<div id="collaborators">
  <h3>Collaborators:</h3>
  <ul>
    <% @project.collaborators.each do |collaborator| %>
      <li>
      <%= link_to collaborator.user.name, collaborator.user %>
    </li>
    <% end %>
  </ul>
</div>
<div id="milestones">
  <h3>Milestones:</h3>
  <ul>
    <% @project.milestones.each do |milestone| %>
      <li>
        <td><%= link_to "#{milestone.title}", project_milestone_path(@project, milestone)%></td>
        <p>Description: <%=milestone.description %></p>
    </li>
    <% end %>
  </ul>

</div>

<% if logged_in? && current_user.id == @project.admin_id %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>

<%= link_to 'Back', projects_path %>
